################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Tp2
/Tp2/x64/Debug
/x64/Debug
